@use '../helpers/' as *;

.blog-actions {

    &__list {
        display: flex;
        column-gap: rem(10);

        @include laptop {
            column-gap: rem(8);
            justify-content: center;
        }
    }

    &__button {
        font-family: var(--font-family-accent);
        display: inline-flex;
        align-items: center;
        column-gap: rem(4);
        background-color: var(--color-dark-10);
        border-radius: rem(100);
        border: var(--border);
        color: var(--color-gray-60);
        font-size: rem(18);

        @include laptop {
            column-gap: rem(2);
            font-size: rem(14);
        }

        &.is-active {
            svg * {
                fill: var(--color-red);
                stroke: var(--color-red);
            }
        }
    }

    &__icon-wrapper {

        display: flex;
        gap: rem(4);
        align-items: center;
        padding: rem(8) rem(16);

        @include laptop {
            padding: rem(6) rem(16);
        }

        @include mobile {
            padding: rem(6) rem(12);
        }

    }

    
}