@use '../helpers/' as *;

.review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: fluid(40, 30);
    max-width: rem(600);
    margin-inline: auto;

    &__author img {
        width: fluid(60, 50);
    }

    &__body {
        position: relative;
        font-size: fluid(18, 16);
        padding: fluid(30, 20);
        padding-top: fluid(50, 30);
        text-align: center;
        color: var(--color-light);
    }

    &__raiting-view {
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% -50%;
    }

    &__description {
        letter-spacing: normal;
    }
}