@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/kumbh-sans/kumbh-sans-regular.woff2') format('woff');
    font-style: normal;
    font-weight: 400;
    font-style: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/kumbh-sans/kumbh-sans-medium.woff2') format('woff');
    font-style: normal;
    font-weight: 500;
    font-style: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-regular.woff2') format('woff');
    font-style: normal;
    font-weight: 400;
    font-style: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-medium.woff2') format('woff');
    font-style: normal;
    font-weight: 500;
    font-style: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-semi-bold.woff2') format('woff');
    font-style: normal;
    font-weight: 600;
    font-style: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-bold.woff2') format('woff');
    font-style: normal;
    font-weight: 700;
    font-style: swap;
}